.privacy-policy-content{
  margin:50px 0 50px 0;

  & h2{
      color:$color-orange;
  }

  & ul{
      margin:10px 0 0 40px;
  }
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: $color-blue;
    color: $color-white;
    font-weight:bold;
    cursor: pointer;
    padding:15px 15px 15px 50px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;
    border-bottom:1px solid darken($color-blue,20%);
    border-radius:5px;
   font-size:22px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: lighten($color-blue,20%);
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color:lighten($color-grey, 45%);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    margin:10px 0 10px 5px;
}

button.accordion:after {
    content: '+'; /* Unicode character for "plus" sign (+) */
    font-size: 22px;
    color: $color-white;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "-"; /* Unicode character for "minus" sign (-) */
  color:$color-white;
  font-size:22px;
}
